

<app-profile *ngIf="customerSelected" [customer]="customerSelected"></app-profile>

<div class="card mb-3">
    <app-breadcrumb></app-breadcrumb>

    <div class="card-header bg-ligth">Listado de clientes</div>
    <div class="card-body">
        <div class="my-2 text-left">
            <button *ngIf="auth.hasRoleAdmin()" class="btn btn-outline-primary" type="button" [routerLink]="['/customers/form']">
                Crear Cliente
            </button>
        </div>
        <div *ngIf="customers?.length <= 0" class="alert alert-info">
            No hay clientes
        </div>
        <table class="table table-striped" *ngIf="customers?.length>0">
            <thead class="thead thead-dark">
                <tr>
                    <th *ngIf="auth.hasRoleUser()">#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td *ngIf="auth.hasRoleUser()" >
                        <img (click)="openModal(customer)" *ngIf="customer?.image" src="http://localhost:8080/api/v1/customers/image/{{customer.image}}" 
                        alt="{{customer.image}}" class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
                        <img  (click)="openModal(customer)" *ngIf="!customer?.image" src="http://localhost:8080/images/user_not_image.png" 
                         class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
                    </td>
                    <td>{{customer.name | uppercase}}</td>
                    <td>{{customer.lastname}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.createdAt | date: "fullDate"}}</td>
                    <td>
                        <div *ngIf="auth.hasRoleAdmin()" class="btn-group btn-group-sm">
                            <button class="badge badge-success" type="button" [routerLink]="['/customers', customer.id,'invoice']">+ Factura</button>

                            <button type="button" class="btn btn-white" [routerLink]="['/customers/form', customer.id ]">
                                <span class="text-info"><i class="material-icons" style="font-size: 14px">create</i></span>
                            </button>
                            <button type="button" class="btn btn-white" (click)="delete(customer)">
                                <span class="text-danger"><i class="material-icons" style="font-size: 14px">delete</i></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-paginator *ngIf="paginator" [paginator]="paginator"></app-paginator>
    </div>
</div>
